.title {
  padding-left: 50px;
  color: rgb(1, 39, 155);
  font-size: 60px;
  margin: 0;
}
.error_message {
  display: flex;
  position: absolute;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px grey;
  background-color: rgb(255, 0, 13);
  margin-left: 350px;
}
