.filter_form {
  box-shadow: 5px 5px 15px grey;
  width: 540px;
  height: 120px;
}
.title {
  font-size: 32px;
  padding: 10px 0 0 50px;
  color: rgb(4, 42, 158);
  margin: 10px;
}
.filterInput {
  width: 350px;
  height: 35px;
  margin-left: 50px;
  font-size: 18px;
  padding: 5px;
}
